body {
  background-color: aliceblue;
  text-align: center;
  font-size: 20px;
}

.App {
  width: 50%;
  margin: 10px auto;
  background-color: skyblue;
  border-radius: 10px;
  box-shadow: 5px 5px lightgrey;
}
