.City-name-form {
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  display: block;
  margin: auto;
  text-align: center;
  background-color: aliceblue;
  font-size: 20px;
  width: 50%;
}

button {
  margin: 10px;
  background-color: aliceblue;
  font-size: 20px;
}

button:hover {
  background-color: lightgrey;
}
